<div class="main-heading">
    <h1>Welcome to scrum Poker! Plan your next scrum and start estimating</h1>
</div>
<div class="main-heading">
    <h2>Create your room or join one with a single click</h2>
</div>
<div class="center">
    <div class="button">
        <button (click)="joinOrCreateRoom('Join')" mat-flat-button class="custom">
            Join Room
        </button>
        <button (click)="joinOrCreateRoom('Create')" mat-flat-button class="custom">
            Create Room
        </button>
    </div>
</div>
